html {
  height: 100%;
  width: 100%;
}

button {
  size: 25px;
  font-size: 18px;
  padding: 15 px 25 px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  margin: 10px
}

#gameArea {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 25px;
}

#gameArea2 {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

}

#generate {
  background-color: #03C03C;
}

#catfacts {
  background-color: #FFA500;
}


#pickuplines {
  background-color: #F7B4BB;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#picture{
  max-width: 100%;
  max-height: 100%;
}

#colorAndAnimation {
  background-color: #000000;
  color: white;
}

#dadjokes {
  background-color: #0096C7;
}

#pizzaToppings {
  background-color: #e12301;
  color: #dba24a;
}

#compliments {
  background-color: #ffac33;
}


#breakfast {
  background-color: #ffd1b1;
}

#insults {
  background-color: #74C365;
}

#furniture {
  background-color: #FDDDA0;
  color: #1B1212;
}

#icecream {
  background-color: #eecaa6;
  color: #7B3F00;
}

#select {
  background-color: #B200ED;
}

#source {
  background-color: #b8dfff;
}

#emoji {
  background-color:  #FADA5E;
 
}

#summerOlympicSports{
  background-color: #FDB813;
}

#winterOlympicSports{
  background-color: #87CEEB;
}

#summerYouthOlympicSports{
  background-color: #FCD14D ;
}

#winterYouthOlympicSports{
  background-color: #B3DAF1;
  color: "black";
}

#nextPage{
  background-color: #2B3BFF;
  color: "black";
}

#dogFacts{
  background-color:  #9f796c;
  color: "black";
 
}

#dogJokes{
  background-color: #bd9a82;
}

#catJokes{
  background-color: #ffaf7a;
}

#christmassMovies{
  background-color: 	#ff0000;
  color: 	#3f8f29;
}

#naturalHazards{
  background-color: #2fced2;
  color: #f0fb3e;
}

#bubbleWrap{
  background-color: #e0ffff;
}

#banana{
  background-color: #009B3A ;
  color:#FED100  ;
}

#jamResult{
  max-width: 100%;
  max-height: 100%;
}